/* Font Styles */
.cozy-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}
.pixel-font {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}



.homepage-body {
  background-color: pink;
}



.homepage-top {
  display: flex;
  position: relative; /*allows children to be absolutely positioned*/
  align-items: center;
  padding: 20px 30px;
}

/* Title*/
.homepage-title-div {
  margin: 0;
  text-align: center;
  position: absolute;
  /*Places the edge on the middle(50%) then uses translateX to move it to the middle*/
  left: 50%;
  transform: translateX(-50%);
}

.homepage-title {
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
  margin: 0;
}

/* Search Bar Styles */
.search-bar-div {
  margin: 0;
  margin-left: auto;
}

.search-bar {
  width: 300px;
  height: 30px;
  background-color: lavenderblush;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 5px;
  font-size: 9px;
  /*Pixel Font*/
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.homepage-logo {
  text-align: left;
}

.mawile-official-logo {
  width: 100px;
}


/* Intro Section Styles */
.homepage-intro {
  margin: 20px;
  padding: 15px;
  border: 3px solid purple;
  border-radius: 10px;
  background-color: lavenderblush;
}





/* Mawile Pokedex Link Styles */
.mawile-pokedex-div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mawile-pokedex-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: yellow;
  text-decoration: none;
}



/* Mawile Winter Image Styles */
.mawile-winter-div {
  text-align: center;
}

.mawile-winter-img {
  width: 600px;
  height: auto;
  contain: content;
  border: 5px solid white;
  border-radius: 15px;
  margin-top: 20px;
  display: block;
}