.homepage-body {
  background-color: pink;
}

.homepage-intro {
  margin: 20px;
  padding: 15px;
  border: 3px solid purple;
  border-radius: 10px;
  background-color: lavenderblush;
}

.cozy-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

.homepage-title {
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
}

.search-bar {
  width: 300px;
  height: 30px;
  background-color: lavenderblush;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;;
}

.mawile-pokedex-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: yellow;
  text-decoration: none;
}

.MawileWinter-img {
  width: 600px;
  height: auto;
  contain: content;
  border: 5px solid white;
  border-radius: 15px;
  margin-top: 20px;
  display: block;
}